/* 
   ##Screen = 767px to lower resolution device
*/

@media (max-width: 768px) {
	.navbar-nav {
		width: 100%;
	}
	.container {
		width: 100%;
	}
	.logo {
		width: 50%;
		height: 50%;
	}
	.header-text {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	#info-box {
		width: 90%;
		margin-bottom: 10px;
		margin-left: 19px;
	}
	.testiminial-img {
		margin-right: 145px;
		margin-bottom: 10px;
	}
	.footer-section-para {
		text-align: center;
	}
	.footer-head {
		text-align: center;
	}
	.ul-text {
		text-align: center;
	}
}
